

/*
Author: XpeedStudio
Author URI: http://themeforest.net/user/XpeedStudio/portfolio
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 15px;
    }
	
    

}

/* Portrait tablets and small desktops */
@media  (max-width: 991px) {
    html {
        font-size: 90%;
    }
   


}
/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        font-size: 80%;
    }
	.navbar-default {
    background-color:#81bef7;
    border: transparent;
    padding:20px 0;
	}
	.navbar-default .navbar-toggle {
    border-color:none;
    background: #464646;
	border:0;
	}
	.navbar-default .navbar-toggle:hover {
		background:#000;
	}
	
	.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
	}
	
	homepage-style .unique-apps h2 {
    font-size: 20px;
	}
	.main-history .history-heading {
    margin: 30px 0;
    text-align: center;
	}
	.homepage-style .unique-apps h2 {
    font-size: 28px;
	}
	.main-history .history-img {
    text-align: center;
	}
	.main-history .history-content .hst-btn{
	 text-align: center;	
	}
	.homepage-style .slider-area {
    margin-top: 30px;
	}
	
	
   
}



/* Landscape phones and smaller */
@media (max-width: 480px) {
    html {
        font-size: 65%;
    }
	
	.homepage-style .unique-apps h2 {
    font-size: 20px;
	}
	.portfolio .portfolio-item h4 {
    font-size: 12px;
	}
	
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background:#81bef7;
		border:0;
	}
	.homepage-style .slider-area {
    margin-top: 30px;
	}
	
	.supports-content .spt-btn{
		text-align:center;
	}
   

}



@media (max-width: 320px) {


    html {
        font-size: 60.5%;
    }
	.homepage-style .unique-apps h2 {
    font-size: 12px;
	}
	.heading .title h4 {
    font-size: 5px;
	}
	.portfolio .portfolio-item h4 {
    font-size: 10px;
	}
	
}

